<div class="results-block d-inline-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header d-inline-block">
    <strong>Symbol:</strong> <%= @stock.ticker %>
    <strong>Name:</strong> <%= @stock.name %>
    <strong>Last Price:</strong> <%= @stock.last_price %>
    <% if current_user.can_track_stock?(@stock.ticker) %>
      <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker),
                  class: 'btn btn-xs btn-primary ml-3', method: :post %>
    <% elsif current_user.stock_already_present?(@stock.ticker) %>
      <span class="badge badge-warning">ALREADY PRESENT</span>
    <% elsif !current_user.under_stock_limit? %>
      <span class="badge badge-danger">MAX ELEMENTS REACHED</span>
    <% end %>
  </div>
<% end %>
